<!--Footer-->
<footer class="footer-39201">
    <h2></h2>
    <div class="footer-logo">
        <img src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw2c1c33d5/images/paypal.jpg" alt="">
        <img src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw7be21a6b/images/visa-2.jpg" alt="">
        <img src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw7657363e/images/mastercard-2.jpg" alt="">
        <img src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwbb167cb0/images/american-express.jpg" alt="">
        <img src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw26a4f072/images/jcb.jpg" alt="">
    </div>
    <h2></h2>
    <div class="container">
        <div class="row">
            <div class="col-md mb-4 mb-md-0">
                <h3>CATEGORIES</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Cleansers & Toners</a></li>
                    <li><a href="#">Day Care</a></li>
                    <li><a href="#">Serums</a></li>
                    <li><a href="#">Cleansing Oils</a></li>
                    <li><a href="#">Body Care</a></li>
                    <li><a href="#">Eyes, Lips & Neck</a></li>
                    <li><a href="#">Sun Protection</a></li>
                    <li><a href="#">Make-Up</a></li>
                </ul>
            </div>
            <div class="col-md mb-4 mb-md-0">
                <h3>CUSTOMER SERVICES</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Track Your Order</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Payment Options</a></li>
                    <li><a href="#">Help & FAQ</a></li>
                </ul>
            </div>
            <div class="col-md mb-4 mb-md-0">
                <h3>ABOUT CLARINS</h3>
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Our Story/Commitment</a></li>
                    <li><a href="#">Clarins Renanthera</a></li>
                    <li><a href="#">Club Clarins</a></li>
                    <li><a href="#">Beauty Q&A</a></li>
                    <li><a href="#">Skin Spa</a></li>
                    <li><a href="#">Find A Store</a></li>
                </ul>
                <h3>FOLLOW US</h3>
                <ul class="social list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h3>SIGN UP FOR OUR NEWSLETTER</h3>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Email Address*" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Subscribe</button>
                </form>
                <h3 id="d-down">NEED HELP?</h3>
                <p>(65) 8631 3101 (Whatsapp Only)</p>
                <p >Monday to Friday9.30AM to 12.00PM2.00PM to 6.00PM(Excluding Public Holidays)</p>
                <h3>SELECT</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Singapore</option>
                    <option value="1">American</option>
                    <option value="2">France</option>
                    <option value="3">VietNam</option>
                </select>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p><small><a href="#">Terms & Conditions</a> | Privacy Policy ©Clarins. All Rights Reserved</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
