<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Clarins Story</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" />
    <link rel="stylesheet" href="/css/aboutus.css"  />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
</head>
<title>About-Us</title>
</head>
<body>
<!--Header-->

<%- include("header.ejs") %>
<!--End Header-->
<div class="aboutus__container">
    <div class="about__title">10 Reasons to Trust Clarins</div>
    <div class="about__container box1">
        <div class="about__textbox">
            <p class="about__heading">No.1</p>
            <p>
                <li>Prestige Women Face Skincare brand in Europe in Value</li>
                <li>Prestige Body Skincare brand in Europe in Value & Unit*</li>
                <li>Prestige Skincare brand in Europe Value & Unit*</li>
            </p>
            <p style="font-size:12px">
                *Source NPD BeautyTrends®: Skincare products sold in Perfumeries and Department Stores, Luxury brands, in Year 2018 on a total 4 countries (France, Italy, Spain mainland and UK).
            </p>
        </div>
        <div class="about__img1">
            <img src="/assets/photos/anh1.jpg" alt="" cla>
        </div>
    </div>
    <div class="about__container box2">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº2</p>
            <p style="font-size:20px;font-weight:600">"Made in France" Beauty</p>
            <p style="font-size:14px">It all began in Paris on March 15, 1954, when Jacques Courtin-Clarins opened his first Clarins Institute with the pioneering belief that well-being and happiness were inextricably linked to beauty—a daring holistic vision that he was the first to express and apply. At the same time, celebrities were beginning to unveil their bodies on the covers of magazines. The era of physical and mental freedom was dawning—a revolution in which Jacques Courtin-Clarins played an important role by telling women, "Yes, you are beautiful!”.</p>
        </div>
    </div>
    <div class="about__container box3"> 
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº3</p>
        <p style="font-size:20px;font-weight:600;padding-bottom:20px">A family dedicated to beauty.</p>
        <p style="font-size:14px;padding-bottom:20px">The story of a French family – expert in skin care and make-up. Inspired by the science of nature and committed to protecting the planet.</p>
        <p style="font-size:14px;padding-bottom:20px">At Clarins, we pass on our passion for beauty and devote our lives to it from one generation to the next.</p>
        </div>
    </div>
    <div class="about__container box4">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº3</p>
            <p style="font-size:20px;font-weight:600">"Made in France" Beauty</p>
            <p style="font-size:14px">It all began in Paris on March 15, 1954, when Jacques Courtin-Clarins opened his first Clarins Institute with the pioneering belief that well-being and happiness were inextricably linked to beauty—a daring holistic vision that he was the first to express and apply. At the same time, celebrities were beginning to unveil their bodies on the covers of magazines. The era of physical and mental freedom was dawning—a revolution in which Jacques Courtin-Clarins played an important role by telling women, "Yes, you are beautiful!”.</p>
        </div>
        <div class="about__img4">
            <img src="/assets/photos/anh4-1.jpg" alt="">
            <img src="/assets/photos/anh4-2.jpg" alt="">
            <img src="/assets/photos/anh4-3.jpg" alt="">
            <img src="/assets/photos/anh4-4.jpg" alt="">
        </div>
    </div>
    <div class="about__container box5">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº4</p>
            <p style="font-size:20px;font-weight:600">"Made in France" Beauty</p>
            <p style="font-size:14px">It all began in Paris on March 15, 1954, when Jacques Courtin-Clarins opened his first Clarins Institute with the pioneering belief that well-being and happiness were inextricably linked to beauty—a daring holistic vision that he was the first to express and apply. At the same time, celebrities were beginning to unveil their bodies on the covers of magazines. The era of physical and mental freedom was dawning—a revolution in which Jacques Courtin-Clarins played an important role by telling women, "Yes, you are beautiful!”.</p>
        </div>
        <div class="about__img4">
            <div class="img__container">
                <img src="/assets/photos/anh5-1.jpg" alt="">
                <p style="height:40px;padding:15px 0;color:#555;font-family: system-ui;font-weight: 500;">Double Serum <br> Multi-Régénérant Surconcentré</p>
                <p style="color:#be0f34; font-size: 40px;margin-top:50px">1985</p>
            </div>
            <div class="img__container">
                <img src="/assets/photos/anh5-2.jpg" alt="">
                <p style="height:40px;padding:15px 0;color:#555;font-family: system-ui;font-weight: 500;">Total <br> Double Serum</p>
                <p style="color:#be0f34; font-size: 40px;margin-top:50px">2002</p>
            </div>
            <div class="img__container">
                <img src="/assets/photos/anh5-3.jpg" alt="">
                <p style="height:40px;padding:15px 0;color:#555;font-family: system-ui;font-weight: 500;">Double Serum <br> Combining 21 potent plant extracts</p>
                <p style="color:#be0f34; font-size: 40px;margin-top:50px">2017</p>
            </div>
        </div>   
    </div>
    <div class="about__container box6">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº6</p>
            <p style="font-size:20px;font-weight:600">Spa expertise</p>
            <p style="font-size:14px">Back in 1954, Clarins started as a beauty institute in Paris. From our very first Institute to today’s international network of Clarins Skin Spas located in prestigious locations around the world, Clarins has maintained its exclusivity with unique application methods that boost the effectiveness of its formulas. Every Clarins Skin Spa experience includes expert tips for making the most of your daily beauty routine.</p>
        </div>
    </div>
    <div class="about__container box7">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº7</p>
            <p style="font-size:20px;font-weight:600">Customised consultations</p>
            <p style="font-size:14px">Whatever your skin type or beauty concern, Clarins will design a customised treatment routine expressly for you. Let us guide you through our product range and create your own personalised skin care program.</p>
            <p style="font-size:14px;color:#be0f34">Skin Time is your time to sit back, relax and let our Clarins Beauty Advisor provide the very best, tailor-made advice, and recommend a personalised skin care routine. You’ll be treated to a hands-on demonstration of our professional application methods so you can maximise the performance of your products at home.
                Visit one of our counters to enjoy this complimentary service and receive a selection of personalised samples.</p>
        </div>
    </div>
    <div class="about__container box8">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº8</p>
            <p style="font-size:20px;font-weight:600">Try before you buy</p>
            <p style="font-size:14px">Because Clarins products are our best beauty ambassadors, we’re giving the opportunity to try new ones with your choice of 3 samples with every order. <br> What is your skin type? <br> What are your skin care concerns? <br> Which textures do you prefer? <br> Most Clarins products are available in sample sizes, so give them a try.</p>
        </div>       
    </div>
    <div class="about__container box9">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº9</p>
            <p style="font-size:20px;font-weight:600">The Clarins Commitment: making life more beautiful</p>
            <p style="font-size:14px">Clarins is committed to respecting nature and protecting biodiversity. We support local communities and purchase our raw materials in accordance with fair trade principles. We respect current and future generations. As a consumer and a global citizen, we hope that you share our commitment to protecting the environment.</p>
        </div>       
    </div>
    <div class="about__container box10">
        <div class="about__textbox">
            <p style="font-size:30px;color:#be0f34">Nº10</p>
            <p style="font-size:20px;font-weight:600">Every Clarins product has a secret ingredient: LOVE</p>
            <p style="font-size:14px">Always ready to listen, do more and do better. This is the Clarins story. In his beauty institute, Jacques Courtin-Clarins was deeply committed to encouraging women to share their opinions of his products.
                Our products and application techniques are the result of a 60 year dialogue with our customers. Customer service, beauty advisors, counter managers, marketers, R&D scientists—behind every Clarins product there is a team of dedicated professionals whose mission is to make your life even more beautiful. It is more than just a job, it is a passion.</p>
        </div>      
    </div>
</div>   
<!--Footer-->
<%- include("footer.ejs") %>
<!--End Footer-->
<script src="/js/header.js"></script>
</body>
