<!doctype html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
<link rel="stylesheet"  href="./public/css/aboutus.css"  />
    <link rel="stylesheet" href="./public/css/header.css" />
    <link rel="stylesheet" href="./public/css/footer.css" />
</head>
<title>About-Us</title>
</head>

<body>
<!--Header-->

<%- include("header.ejs") %>
<!--End Header-->
    <div id="wrapper" class="pt_wrapper pt_content" style="padding-top: 18px;">
        <div id="main" role="main" class="full-width clearfix">
        </noscript>
        </div>
        <div class="breadcrumb">
            <div class="breadcrumbContainer-fluid col  col-gutter">
                <div class="breadcrumbContent">
                    <a href="home.ejs" class="breadcrumb-element" title="Home">
                        Home
                    </a>
                    <a href="aboutus.html" class="breadcrumb-element">Clarins Story</a>
                    <span class="breadcrumb-element" title="10 Reasons to Trust Clarins">10 Reasons to Trust Clarins</span>
                </div>
            </div>
        </div>

        <div id="primary" class="primary-content">
        
        <div class="content-asset">
        
        <div id="content-clarins-story-ten-reasons">
        <div class="container-fluid" id="Line-00">
            <div class="row">
                <div class="col ">
                    <div class="col-gutter">
                        <h1>10 Reasons to Trust Clarins</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="Line-01" style="background: #fbfbfb;">
            <div id="Line-01-fwl-Bg">
                    <div class="row">
                    <div class="col col-md-10" id="My-Left">
                        <div class="col-gutter">
                            <h2>No.1</h2>
                            <h3>•Prestige Women Face Skincare brand in Europe in Value<sup>*</sup></h3>
                            <h3>•Prestige Body Skincare brand in Europe in Value &amp;&nbsp;Unit<sup>*</sup></h3>
                            <h3>•Prestige Skincare brand in Europe Value &amp; Unit<sup>*</sup></h3>
                            <p id="My-Mentions">*Source NPD BeautyTrends®: Skincare products sold in Perfumeries and&nbsp;Department Stores, Luxury brands, in Year 2018 on a total 4 countries (France, Italy, Spain mainland and UK).</p>
                        </div>
                        <div class="col col-md-8" id="My-Right">
                            <img src="assets/photos/anh1.jpg">
                        </div>
                    </div>
                </div>
        </div>
        </div>
        
    <div class="container-fluid" id="Line-02">  
        
        <img src="assets/photos/anh2.jpg">
        
        <div class="col" id="white-box02" style="margin-top: 47px;">
        <h2>Nº2<br>
        <span>"Made in France" Beauty</span></h2>
        <p>It all began in Paris on March 15, 1954, when Jacques Courtin-Clarins opened his first Clarins Institute with the pioneering belief that well-being and happiness were inextricably linked to beauty—a daring holistic vision that he was the first to express and apply. At the same time, celebrities were beginning to unveil their bodies on the covers of magazines. The era of physical and mental freedom was dawning—a revolution in which Jacques Courtin-Clarins played an important role by telling women, "Yes, you are beautiful!”. </p>
        <p>In France, where skin care has always been paramount, his success was immediate. Word soon spread and Clarins products became available worldwide. Today, Clarins continues to design and produce its products in France and remains faithful to its original philosophy—listening to women to truly understand their needs, and developing safe, natural and highly effective skin care products.</p>
        </div>
        
   </div>


        <div class="container-fluid" id="Line-03">
            <div class="row">
                <img src="assets/photos/anh3.jpg">
            <div class="col"></div><div class="col"></div>
            <div class="col-4" id="white-box03" style="margin-top: 60px;margin-right: 50px;">
                <h2>Nº3<br>
                <span>A family dedicated to&nbsp;beauty.</span></h2>
                <p>The story of&nbsp;a&nbsp;French family – expert in&nbsp;skin care and&nbsp;make-up. Inspired by&nbsp;the&nbsp;science of&nbsp;nature and&nbsp;committed to&nbsp;protecting the&nbsp;planet.<br><br>
                At&nbsp;Clarins, we&nbsp;pass on&nbsp;our&nbsp;passion for&nbsp;beauty and&nbsp;devote our&nbsp;lives to&nbsp;it&nbsp;from one&nbsp;generation to&nbsp;the&nbsp;next.
                </p>
                <a href="placeholder" class="My-CTA" target="_blank">LEARN MORE ABOUT THE INDEPENDENT VALUES OF CLARINS</a>
            </div>
        </div>
        <p id="My-Mentions" style="text-align: center;">On the left: Christian Courtin-Clarins, President of the Clarins Group Supervisory Board. On the right, Olivier Courtin-Clarins, Managing Director of the Clarins Group.</p>
        </div>

        <div class="container-fluid" id="Line-04" style="background: #fbfbfb;">
            
            <div class="row" id="Line-04-fw1-Bg" >
                <div class="col " id="white-box03a">
                    <h2>Nº4<br>
                    <span>Plants and Science</span></h2>
                    <p>Clarins will always choose a natural ingredient over a chemical one, if it delivers the same level of effectiveness.
                    This is the golden rule that all Clarins researchers follow when designing our innovative new products. <br><br>
                    Clarins uses over 250 natural plant extracts in its formulas. All are carefully selected for their effectiveness and are delivered in an optimal formula to reveal the beauty of every woman. Each ingredient is sourced with the utmost care for the environment to protect our planet’s biodiversity.</p>
                    </div>
                <div class="col  " id="My-Right06"> <img src="assets/photos/anh4-1.jpg" style="margin-top: auto; margin-left: auto;"> </div>
                <div class="col  " id="My-Right07"> <img src="assets/photos/anh4-2.jpg" style="margin-top: auto; margin-left: auto;"> </div>
                <div class="col  " id="My-Right08"> <img src="assets/photos/anh4-3.jpg" style="margin-top: auto; margin-left: auto;"> </div>
                <div class="col  " id="My-Right09"> <img src="assets/photos/anh4-4.jpg" style="margin-top: auto; margin-left: auto;"> </div>
                
            </div>
            
        </div>

    <div class="container-fluid" id="Line-04a">
        <div class="row  line-center">
        <div class="row col col-lg-7 " id="My-Right-Line04a">
        <div class="col-md-3  My-Space-Product-03" id="My-Prod10"> <img src="assets/photos/anh5-1.jpg">
        <h2>1<sup>st</sup> TO 3<sup>rd</sup><br>GENERATION<br></h2>
        <h1>1985</h1>
        <p>Double Serum<br>
        Multi-Régénérant Surconcentré</p>
        </div>
        <div class="col-md-1  My-Space-Product-03" id="My-Pointer01"> <img src="assets/photos/pointer.jpg"></div>
        <div class="col-md-3  My-Space-Product-03" id="My-Prod11"> <img src="assets/photos/anh5-2.jpg">
        <h2>5<sup>th</sup> GENERATION<br><br></h2>
        <h1>2002</h1>
        <p>Total<br>
        Double Serum</p>
        </div>
        <div class="col-md-1   My-Space-Product-03" id="My-Pointer02"> <img src="assets/photos/pointer.jpg"></div>
        <div class="col-md-3   My-Space-Product-03" id="My-Prod12"> <img src="assets/photos/anh5-3.jpg">
        <h2>8<sup>th </sup>GENERATION<br><br></h2>
        <h1>2017</h1>
        <p>Double Serum<br>
        Combining 21 potent plant extracts</p>
        </div>
        </div>
        <div class="col col-lg-3" id="white-box03b">
        <h2>Nº5<br>
        <span>Permanent innovation</span></h2>
        <p>Constant innovation to meet the beauty needs of women, and continuous perfecting of what exists. With this objective in mind, Clarins has created many revolutionary industry firsts—problem-solving products that deliver real results, with a choice of textures and application techniques that boost their effectiveness.<br><br>
        Clarins has made bold innovation its signature with pioneering formulas that are constantly being reinvented, and best-sellers that stand the test of time.</p>
        <a href="https://www.clarins.com.sg/explore-clarins-story/Responsible-beauty-innovation.html" class="My-CTA" target="_blank">LEARN MORE ABOUT CLARINS RESPONSIBLE INNOVATION</a> </div>
        </div>
    </div>


    <div class="container-fluid" id="Line-05">    
        
        <img src="assets/photos/anh6.jpg">
        <div class="col" id="white-box04" style="margin-top: 47px;">
        <h2>Nº6<br>
        <span>Spa expertise</span></h2>
        <p>Back in 1954, Clarins started as a beauty institute in Paris. From our very first Institute to today’s international network of Clarins Skin Spas located in prestigious locations around the world, Clarins has maintained its exclusivity with unique application methods that boost the effectiveness of its formulas. Every Clarins Skin Spa experience includes expert tips for making the most of your daily beauty routine.</p>
        <a href="placeholder" class="My-CTA" target="_blank">LEARN MORE ABOUT CLARINS SPA</a>
        <h3><strong>BEST OF THE BEST</strong><br>
        The Spa My Blend by Clarins, located at the Royal Monceau Raffles in Paris, won "Best Spa 2012 – Best of the Best" in the Virtuoso awards.</h3>
        </div>
        
    </div>
    <div class="container-fluid" id="Line-06"> 
         
        <img src="assets/photos/anh7.jpg">
        <div class="col" id="white-box05" style="margin-top: 42px;">
        <h2>Nº7<br>
        <span>Customised consultations</span></h2>
        <p>Whatever your skin type or beauty concern, Clarins will design a customised treatment routine expressly for you. Let us guide you through our product range and create your own personalised skin care program.</p>
        <h3><strong>DISCOVER SKIN TIME</strong><br>
        Skin Time is your time to sit back, relax and let our Clarins Beauty Advisor provide the very best, tailor-made advice, and recommend a personalised skin care routine. You’ll be treated to a hands-on demonstration of our professional application methods so you can maximise the performance of your products at home.<br>
        Visit one of our counters to enjoy this complimentary service and receive a selection of personalised samples.
        </h3>
        </div>
    
    </div>
    <div class="container-fluid" id="Line-07">
        <img src="assets/photos/anh8.jpg">
        <div class="col " id="white-box06" style="margin-top: 75px;">
        <h2>Nº8<br>
        <span>Try before you buy</span></h2>
        <p>Because Clarins products are our best beauty ambassadors, we’re giving the opportunity to try new ones with your choice of 3 samples with every order. What is your skin type? <br>What are your skin care concerns? Which textures do you prefer? Most Clarins products are available in sample sizes, so give them a try.</p>
        <a href="store" class="My-CTA" target="_blank">CHOOSE MY SAMPLES</a>
        </div>
        
    </div>
    <div class="container-fluid" id="Line-08">
        <img src="assets/photos/anh9.jpg">
        <div class="col " id="white-box07" style="margin-top: 32.5px;">
        <h2>Nº9<br>
        <span>The Clarins Commitment: making life more beautiful</span></h2>
        <p>Clarins is committed to respecting nature and protecting biodiversity. We support local communities and purchase our raw materials in accordance with fair trade principles. We respect current and future generations. As a consumer and a global citizen, we hope that you share our commitment to protecting the environment.</p>
        <a href="placeholder" class="My-CTA" target="_blank">LEARN MORE ABOUT CLARINS SOCIAL RESPONSIBILITY</a>
        </div>
        
    </div>
    <div class="container-fluid" id="Line-09">
        <img src="assets/photos/anh10.jpg">
        <div class="col " id="white-box08" style="margin-top: 45px;">
        <h2>Nº10<br>
        <span>Every Clarins product has a secret ingredient: LOVE</span></h2>
        <p>Always ready to listen, do more and do better. This is the Clarins story.
        In his beauty institute, Jacques Courtin-Clarins was deeply committed to encouraging women to share their opinions of his products. <br>Our products and application techniques are the result of a 60 year dialogue with our customers.
        Customer service, beauty advisors, counter managers, marketers, R&amp;D scientists—behind every Clarins product there is a team of dedicated professionals whose mission is to make your life even more beautiful. It is more than just a job, it is a passion.
        </p>
        </div>
    </div>
            
    <div class="container-fluid" id="Line-10" >
        <div class="row">
        <div class="col" id="wheretofindus">
            <img src="assets/photos/wheretofindus.jpg">
        </div>
        <div class="col" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.767979255604!2d105.94064161488296!3d21.00193578601295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x36b54e631ff34231%3A0x486afb986f0b5584!2sOcean%20Park!5e0!3m2!1sen!2s!4v1659844034248!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div>
    </div>

</div>
        
    

        <style>
        #Line-01 img {
            margin-top: 94px;
        }
        
        #content-clarins-story-ten-reasons #Line-01 #My-Left h3 {
            margin-bottom: 10px;
        }
        
        #content-clarins-story-ten-reasons #Line-01 #My-Left h3 {
            font-size: 20px;
            line-height: 27px;
        }
        #content-clarins-story-ten-reasons #Line-01 #My-Mentions {
            line-height: 15px;
        }
        
        @media only screen
        and (min-width : 1112px)
        and (max-width : 834px)
        and (orientation : landscape){ 
        #Line-01 img {
        margin-top: 345px;
        }
        }
        @media screen and (min-width:1024px) and (max-width:1112px) {
        #content-clarins-story-ten-reasons #Line-01 #My-Left h3 {
            font-size: 19px;
        }
        }
        
        
        @media only screen
        and (min-width : 1112px)
        and (max-width : 834px)
        and (orientation : portrait){ 
        #Line-01 img {
        margin-top: 450px;
        }
        }
        
        @media screen and (min-width:768px) and  (max-width:1111px) {
        #content-clarins-story-ten-reasons #Line-01 #My-Left h3 {
            font-size: 18px;
        }
        }
        
        @media only screen and (max-width: 761px){
        #Line-01 img {
            margin-top: unset;
        }
        #content-clarins-story-ten-reasons #Line-01 #My-Left {
            margin-left: unset;
            
        }
        #content-clarins-story-ten-reasons #Line-01 #My-Left h3 {
            font-size: 26px;
        }
        }
        
        
        </style>
        </div>

        </div>
        <!--Footer-->
        <%- include("footer.ejs") %>
        <!--End Footer-->
        <script src="/js/header.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 3000,
                once: true,
            });
        </script>

</body>
