<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required Meta Tags Always Come First -->
		<meta charset="UTF-8" />
		<!-- Title -->
		<title>Face Skincare Products</title>
		<!-- css -->
		<%- include("face-css.ejs") %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" />
		<link rel="stylesheet" href="/css/header.css" />
	</head>
	<body>
		<!-- ========== HEADER ========== -->
		<%- include("header.ejs") %>
		<!-- ========== END HEADER ========== -->

		<!-- ========== MAIN ========== -->
		<div class="container">
			<div>
				<div class="row">
					<h1 class="py-5">Face</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Face & Body Care </a></li>
							<li class="breadcrumb-item active" aria-current="page">Face</li>
						</ol>
					</nav>
				</div>
				<div class="row pb-4">
					<nav class="navbar navbar-expand-lg bg-light">
						<div class="container-fluid">
							<button
								class="navbar-toggler"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent"
								aria-expanded="false"
								aria-label="Toggle navigation"
							>
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											CATEGORY
										</a>
										<ul class="dropdown-menu p-2" style="width: 250px">
											<li class="nav nav-pills flex-column">
												<a class="nav-link" href="#"><b>Face</b></a>
												<nav class="nav nav-pills flex-column">
													<a class="nav-link ms-3 my-1 p-0" href="#">Cleansers & Toners</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Face Serums</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Moisturisers</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Eye Care</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Lip & Neck Care</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Exfoliators & Masks</a>
													<a class="nav-link ms-3 my-1 p-0" href="#"
														>Blemish & Imperfection</a
													>
													<a class="nav-link ms-3 my-1 p-0" href="#">Treatments</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Face Treatment Oils</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Daily UV Protectors</a>
													<a class="nav-link ms-3 my-1 p-0" href="#">Suncare</a>
												</nav>
												<a class="nav-link" href="#">Body Care</a>
												<a class="nav-link" href="#">Maternity</a>
												<a class="nav-link" href="#">Men</a>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											PRICE
										</a>
										<ul class="dropdown-menu p-2">
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="$0 -> $50"
												/>
												<label class="form-check-label" for="$0 -> $50"> $0 -> $50 </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="$0 -> $100"
												/>
												<label class="form-check-label" for="$0 -> $100"> $0 -> $100 </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Extra-Firming"
												/>
												<label class="form-check-label" for="Extra-Firming"> $0 -> $500 </label>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											COLLECTION
										</a>
										<ul class="dropdown-menu p-2" style="width: 250px">
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Calm-Essentiel"
												/>
												<label class="form-check-label" for="Calm-Essentiel">
													Calm-Essentiel
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Double Serum"
												/>
												<label class="form-check-label" for="Double Serum">
													Double Serum
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Extra-Firming"
												/>
												<label class="form-check-label" for="Extra-Firming">
													Extra-Firming
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Gentle Care"
												/>
												<label class="form-check-label" for="Gentle Care"> Gentle Care </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Hydra-Essentiel"
												/>
												<label class="form-check-label" for="Hydra-Essentiel">
													Hydra-Essentiel
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Multi-Active"
												/>
												<label class="form-check-label" for="Multi-Active">
													Multi-Active
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="My Clarins"
												/>
												<label class="form-check-label" for="My Clarins"> My Clarins </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Nutri-Lumiere"
												/>
												<label class="form-check-label" for="Nutri-Lumiere">
													Nutri-Lumiere
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Shaping Facial Lift"
												/>
												<label class="form-check-label" for="Shaping Facial Lift">
													Shaping Facial Lift
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="SOS Masks"
												/>
												<label class="form-check-label" for="SOS Masks"> SOS Masks </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Super Restorative"
												/>
												<label class="form-check-label" for="Super Restorative">
													Super Restorative
												</label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="UV Plus" />
												<label class="form-check-label" for="UV Plus"> UV Plus </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="White Plus / Bright Plus"
												/>
												<label class="form-check-label" for="White Plus / Bright Plus">
													White Plus / Bright Plus
												</label>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											CONCERN
										</a>
										<ul class="dropdown-menu p-2" style="width: 250px">
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Anti-Ageing"
												/>
												<label class="form-check-label" for="Anti-Ageing"> Anti-Ageing </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Contouring"
												/>
												<label class="form-check-label" for="Contouring"> Contouring </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="face-puffiness-dark-circles"
												/>
												<label class="form-check-label" for="face-puffiness-dark-circles">
													face-puffiness-dark-circles
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Firming & Toning"
												/>
												<label class="form-check-label" for="Firming & Toning">
													Firming & Toning
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Hydration"
												/>
												<label class="form-check-label" for="Hydration"> Hydration </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Oiliness & Visible Pores"
												/>
												<label class="form-check-label" for="Oiliness & Visible Pores">
													Oiliness & Visible Pores
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Radiance & Dark Spots"
												/>
												<label class="form-check-label" for="Radiance & Dark Spots">
													Radiance & Dark Spots
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Radiance & Energy"
												/>
												<label class="form-check-label" for="Radiance & Energy">
													Radiance & Energy
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Sensitivity"
												/>
												<label class="form-check-label" for="Sensitivity"> Sensitivity </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="SPF 50" />
												<label class="form-check-label" for="SPF 50"> SPF 50 </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="UV Protection"
												/>
												<label class="form-check-label" for="UV Protection">
													UV Protection
												</label>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											SKIN TYPE
										</a>
										<ul class="dropdown-menu p-2">
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="All Skin Types"
												/>
												<label class="form-check-label" for="All Skin Types">
													All Skin Types
												</label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Combination"
												/>
												<label class="form-check-label" for="Combination"> Combination </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="Dry" />
												<label class="form-check-label" for="Dry"> Dry </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="Normal" />
												<label class="form-check-label" for="Normal"> Normal </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="Oily" />
												<label class="form-check-label" for="Oily"> Oily </label>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											AGR RANGE
										</a>
										<ul class="dropdown-menu p-2">
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="20's" />
												<label class="form-check-label" for="20's"> 20's </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="25+" />
												<label class="form-check-label" for="25+"> 25+ </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="30's" />
												<label class="form-check-label" for="30's"> 30's </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="35+" />
												<label class="form-check-label" for="35+"> 35+ </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="40's" />
												<label class="form-check-label" for="40's"> 40's </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="45+" />
												<label class="form-check-label" for="45+"> 45+ </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="50's" />
												<label class="form-check-label" for="50's"> 50's </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="55+" />
												<label class="form-check-label" for="55+"> 55+ </label>
											</li>
											<li class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="60's" />
												<label class="form-check-label" for="60's"> 60's </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="All Ages"
												/>
												<label class="form-check-label" for="All Ages"> All Ages </label>
											</li>
											<li class="form-check">
												<input
													class="form-check-input"
													type="checkbox"
													value=""
													id="Under 25"
												/>
												<label class="form-check-label" for="Under 25"> Under 25 </label>
											</li>
										</ul>
									</li>
								</ul>
								<div class="nav-item dropdown">
									<a
										class="nav-link dropdown-toggle"
										href="#"
										role="button"
										data-bs-toggle="dropdown"
										aria-expanded="false"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="16"
											height="16"
											fill="currentColor"
											class="bi bi-sort-down"
											viewBox="0 0 16 16"
										>
											<path
												d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"
											/>
										</svg>
										<span>SORT BY:</span>
									</a>
									<ul class="dropdown-menu dropdown-menu-end p-2">
										<li><a class="dropdown-item" href="#">Best-Sellers</a></li>
										<li><a class="dropdown-item" href="#">Most Popular</a></li>
										<li><a class="dropdown-item" href="#">What's New</a></li>
										<li><a class="dropdown-item" href="#">Price: High To Low</a></li>
										<li><a class="dropdown-item" href="#">Price: Low To High</a></li>
										<li><a class="dropdown-item" href="#">Recommended</a></li>
									</ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
				<div class="row row-cols-1 row-cols-md-4 g-5">
					<div class="col">
						<div class="card h-100">
							<img src="/assets/photos/face-1.1.jpg" class="card-img-top" alt="face-1" />
							<div class="card-body">
								<h5 class="card-title">Double Serum</h5>
								<p class="mb-1">Size: x/m/l</p>
								<p class="mb-1">Price from:</p>
								<span class="price dib mb__5" style="">
									<del>$60.00</del>
									<ins>$45.00</ins>
								</span>
								<p class="card-text"></p>
								<!-- Button trigger modal -->
								<div class="d-grid gap-2">
									<button
										type="button"
										class="btn btn-danger"
										data-bs-toggle="modal"
										data-bs-target="#exampleModal"
									>
										Quick View
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal -->
					<div
						class="modal fade"
						id="exampleModal"
						tabindex="-1"
						aria-labelledby="exampleModalLabel"
						aria-hidden="true"
					>
						<div class="modal-dialog modal-dialog-centered modal-xl">
							<div class="modal-content">
								<div class="modal-body">
									<div class="container-fluid">
										<div class="row">
											<div class="col-6">
												<div
													id="carouselExampleDark"
													class="carousel carousel-dark slide"
													data-bs-ride="carousel"
												>
													<div class="carousel-indicators">
														<button
															type="button"
															data-bs-target="#carouselExampleDark"
															data-bs-slide-to="0"
															class="active"
															aria-current="true"
															aria-label="Slide 1"
														></button>
														<button
															type="button"
															data-bs-target="#carouselExampleDark"
															data-bs-slide-to="1"
															aria-label="Slide 2"
														></button>
														<button
															type="button"
															data-bs-target="#carouselExampleDark"
															data-bs-slide-to="2"
															aria-label="Slide 3"
														></button>
													</div>
													<div class="carousel-inner">
														<div class="carousel-item active" data-bs-interval="5000">
															<img
																src="/assets/photos/face-1.2.jpg"
																class="card-img-top"
																alt="face-1"
															/>
														</div>
														<div class="carousel-item" data-bs-interval="5000">
															<img
																src="/assets/photos/face-1.2.jpg"
																class="card-img-top"
																alt="face-1"
															/>
														</div>
														<div class="carousel-item">
															<img
																src="/assets/photos/face-1.2.jpg"
																class="card-img-top"
																alt="face-1"
															/>
														</div>
													</div>
													<button
														class="carousel-control-prev"
														type="button"
														data-bs-target="#carouselExampleDark"
														data-bs-slide="prev"
													>
														<span
															class="carousel-control-prev-icon"
															aria-hidden="true"
														></span>
														<span class="visually-hidden">Previous</span>
													</button>
													<button
														class="carousel-control-next"
														type="button"
														data-bs-target="#carouselExampleDark"
														data-bs-slide="next"
													>
														<span
															class="carousel-control-next-icon"
															aria-hidden="true"
														></span>
														<span class="visually-hidden">Next</span>
													</button>
												</div>
											</div>
											<div class="col-6">
												<button
													type="button"
													class="btn-close"
													data-bs-dismiss="modal"
													aria-label="Close"
												></button>
												<h1>Double Serum</h1>
												<p>Our most powerful age control concentrate</p>
												<h3 class="price dib mb__5">
													<del>$60.00</del>
													<ins>$45.00</ins>
												</h3>
												<div CLASS="my-4">
													<h5 class="mb-3">SIZE:</h5>
													<div
														class="btn-toolbar"
														role="toolbar"
														aria-label="Toolbar with button groups"
													>
														<div
															class="btn-group me-2"
															role="group"
															aria-label="First group"
														>
															<button
																type="button"
																class="btn btn-outline-dark"
																style="border-radius: 100%"
															>
																S
															</button>
														</div>
														<div
															class="btn-group me-2"
															role="group"
															aria-label="Second group"
														>
															<button
																type="button"
																class="btn btn-outline-dark"
																style="border-radius: 100%"
															>
																M
															</button>
														</div>
														<div class="btn-group" role="group" aria-label="Third group">
															<button
																type="button"
																class="btn btn-outline-dark"
																style="border-radius: 100%"
															>
																L
															</button>
														</div>
													</div>
												</div>
												<div
													class="btn-toolbar"
													role="toolbar"
													aria-label="Toolbar with button groups"
												>
													<div class="btn-group me-2" role="group" aria-label="Second group">
														<button type="button" class="btn btn-danger">ADD TO BAG</button>
													</div>
													<div class="btn-group" role="group" aria-label="Third group">
														<button
															type="button"
															class="btn btn-outline-warning"
															style="border-radius: 100%"
														>
															<svg
																xmlns="http://www.w3.org/2000/svg"
																width="16"
																height="16"
																fill="currentColor"
																class="bi bi-heart"
																viewBox="0 0 16 16"
															>
																<path
																	d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
																/>
															</svg>
														</button>
													</div>
												</div>

												<hr />
												<p>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="16"
														height="16"
														fill="currentColor"
														class="bi bi-truck"
														viewBox="0 0 16 16"
													>
														<path
															d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
														/>
													</svg>
													Free Shipping
												</p>
												<p>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="16"
														height="16"
														fill="currentColor"
														class="bi bi-cash-stack"
														viewBox="0 0 16 16"
													>
														<path
															d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"
														/>
														<path
															d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"
														/>
													</svg>
													Get a 2-pc gift set with $350 spend.
												</p>
												<p>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="16"
														height="16"
														fill="currentColor"
														class="bi bi-coin"
														viewBox="0 0 16 16"
													>
														<path
															d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"
														/>
														<path
															d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
														/>
														<path
															d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
														/>
													</svg>
													You can earn 225 points by purchasing this item.
												</p>
												<a class="text-center" href="#">
													<b>SEE PRODUCT DETAILS</b>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="16"
														height="16"
														fill="currentColor"
														class="bi bi-arrow-right"
														viewBox="0 0 16 16"
													>
														<path
															fill-rule="evenodd"
															d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
														/>
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-2"></div>
				<div class="col-8">
					<div class="html-slot-container">
						<h4>Shop for the best skincare products online at Clarins Singapore</h4>

						<h5>How to Get Healthy Skin with the Right Skincare Routine</h5>
						<p>
							Healthy skin always begins and ends with a healthy skincare routine. Diet and lifestyle
							habits can affect your complexion too, but the main secret to a flawless complexion is
							having a good skincare routine with the right skincare products. The following are the basic
							steps every woman should include in her daily skincare routine.
						</p>

						<h6>Step 1: Cleanse and Exfoliate</h6>
						<p>
							A
							<strong>
								<a href="#">cleanser</a>
							</strong>
							is the most vital facial product in every woman’s skincare routine. Cleansing washes away
							grime, oil, and impurities to boost skin’s radiance.
							<strong>
								<a href="#">Exfoliators</a>
							</strong>
							rid skin of dead skin cells, unveiling the fresh skin cells below while keeping skin
							renewed, fresh and radiant. Cleansing should be done twice daily, but exfoliating should
							only be no more than twice a week.
						</p>

						<h6>Step 2: Use a Toner</h6>
						<p>
							<strong>
								<a href="#">Toners</a>
							</strong>
							prep the skin for maximum absorption for the next few skincare products. Not just that,
							toners quickly remove excess dirt, and traces of oil and makeup, while maintaining your
							skin’s pH and moisture balance. Apply a toner right after cleansing your face.
						</p>

						<h6>Step 3: Follow it up with a Serum</h6>
						<p>
							<strong>
								<a href="#">Serums</a>
							</strong>
							are concentrated formulas that repair skin from the inside out, enriched with nutrients and
							various plant extracts that target specific skin concerns such as dark spots and wrinkles.
							For other skin concerns like uneven skin tone and pigmentation,
							<strong> <a href="#">Bright Plus Serum</a> </strong>is the best option to go.
						</p>

						<h6>Step 4: Moisturise</h6>
						<p>
							Moisturisers or face creams are the products that keep skin hydrated, while protecting skin
							from the harmful effects of stress and pollution. When choosing a moisturiser, it’s crucial
							to get
							<strong> <a href="#">face creams made for day use</a> </strong>, as women that are always
							out and about will require adequate protection.
							<br />
							<br />
							After a long and tiring day, pamper your skin with
							<strong>
								<a href="#">moisturisers made for night use</a>
							</strong>
							, revitalising your skin as you get a good night’s rest.
						</p>

						<h6>Step 5: Apply Face Treatment Oils</h6>
						<p>
							<strong>
								<a href="#">Facial treatment oils</a>
							</strong>
							are quickly becoming a part of every woman’s daily skincare routine, as it seals in moisture
							and shields skin from harmful pollutants. Apply facial treatment oils in your night routine
							to lock in moisture and provide a protective barrier for skin while you sleep.
						</p>

						<h6>Step 6: Eye Creams and Masks</h6>
						<p>
							<strong>
								<a href="#">Dark circles, eye bags, and puffiness</a>
							</strong>
							can make even the freshest face appear fatigued, so be wary. Rejuvenate the eye area with
							<strong>
								<a href="#">eye creams and eye masks</a>
							</strong>
							after a long day.
						</p>

						<h6>
							Step 7:
							<strong>
								<a href="#">Lip &amp; Neck Care</a>
							</strong>
						</h6>
						<p>
							The lips and neck are areas that contribute to your youthfulness. Lip care products focus on
							replenishing, ensuring your lips stay soft and moist while minimising the appearance of lip
							lines. Neck care products refine your décolleté and neck area by targeting the signs of
							ageing.
						</p>

						<h6>
							Step 8: Apply
							<strong>
								<a href="#">Sunscreen</a>
							</strong>
						</h6>
						<p>
							Being exposed to harmful UV rays will not only make you more tanned, but also potentially
							trigger a variety of skin disorders. Upon leaving home after finishing your daily skincare
							routine, apply a generous amount of sunblock on your face. A little protection goes a long
							way.
						</p>

						<h5>Anti-Ageing Face Care</h5>
						<p>
							Ageing plagues even the best of us, and visible signs of ageing skin will be more than just
							a nuisance if left uncared for. Clarins’ myriad of skincare products target all
							<strong>
								<a href="#">ageing concerns</a>
							</strong>
							, so ageing gracefully is no longer just a dream – but a reality.
							<br />
							<br />
							Our
							<strong>
								<a href="#">Double Serum</a>
							</strong>
							is one of the more popular facial products among Clarins users around the world, not just
							Singapore. Many women have seen their skin appear smoother, firmer and glowing with youth.
							Formulated with 21 plant ingredients including Turmeric, this anti-ageing serum will boost
							your skin’s 5 vital functions and reduce the signs of ageing.
							<br />
							<br />
							Our
							<strong>
								<a href="#">Multi-Active Day Emulsion</a>
							</strong>
							is perfect for erasing fine lines. Its moisturising texture suits normal and combination
							skin. This emulsion leaves your skin glowing with radiance while feeling silky-smooth. It’s
							a great product to combat the first signs of ageing.
							<br />
							<br />
							The
							<strong>
								<a href="#">Extra-Firming Day</a>
							</strong>
							is another one of the more popular Clarins skincare products in Singapore. This moisturiser
							is recommended for women 35 and above. This cream helps your skin regain its youth by
							reactivating firmness at its source. It is designed to decrease the appearance of fine lines
							and wrinkles while lifting slacking skin.
							<br />
							<br />
							Restore that natural rosy glow to your face with the
							<strong> <a href="#">Super Restorative Rose Radiance Cream</a> </strong>. It is an effective
							anti-ageing cream enriched with Roselle, Harungana and other botanical ingredients to gently
							exfoliate your skin and refine pores, resulting in a radiant, supple and smooth complexion.
							<br />
							<br />
							Shop more facial products online via
							<strong>
								<a href="#">our site</a>
							</strong>
							.
						</p>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
		<!-- ========== END MAIN ========== -->

		<!-- ========== FOOTER ========== -->
		<%- include("footer.ejs") %>
		<!-- ========== END FOOTER ========== -->

		<!-- ========== JS ========== -->
		<%- include("face-js.ejs") %>
		<script src="/js/header.js"></script>
	</body>
</html>
