<div class="header__container">
	<div class="header">
		<div class="header__content">
			<div class="header__menubar">
				<i class="fa-light fa-bars"></i>
				<i class="fa-light fa-magnifying-glass header__search"></i>
			</div>
			<div class="header__logo">
				<a href="/">Clarins</a>
			</div>
			<div class="header__asset">
				<div class="header__location columns" href="/about-us">
					<i class="fa-regular fa-location-dot"></i>
					<a href="/about-us">Location</a>
				</div>
				<div class="header__user columns">
					<i class="fa-regular fa-user"></i>
					<a href="/login">login</a>
				</div>
				<div class="header__bag columns no__border">
					<i class="fa-regular fa-briefcase-blank"></i>
					<a href="/shopping">bag</a>
				</div>
			</div>
		</div>
		<div class="header__submenu">
			<ul>
				<li class="home" href=""><a href="/">home</a></li>
				<li class="skincare">
					<a href="/skincare">Skincare</a>
				</li>
				<li class="makeup">
					<a href="/makeup">Make-up</a>
				</li>
				<li class="about__us">
					<a href="/">About Clarins</a>
				</li>
				<li class="exclusive__offer">
					<a href="/">Exclusive Offer</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- submenu makeup bar -->
	<div class="sub__header forMakeup">
		<div class="type__name">MAKEUP</div>
		<div class="product__type">
			<div class="product__details">
				<a href="/makeup/face">
					<img src="/photos/face ava.png" alt="" />
				</a>
				<a href="/makeup/face">Face Makeup</a>
			</div>
			<div class="product__details" link="">
				<a href="/makeup/eyes">
					<img src="/photos/eye ava.png" alt="" href="" />
				</a>
				<a href="/makeup/eyes">eye MAKEUP</a>
			</div>
			<div class="product__details">
				<a href="/makeup/lips">
					<img src="/photos/lips ava.png" alt="" />
				</a>
				<a href="/makeup/lips">lips</a>
			</div>
		</div>
	</div>
	<div class="header__overlay"></div>
	<!-- submenu skincare bar -->
	<div class="sub__header forSkincare">
		<div class="type__name">SKINCARE</div>
		<div class="product__type">
			<div class="product__details">
				<a href="/skincare/face">
					<img src="/photos/facecare.png" alt="" />
				</a>
				<a href="/skincare/face">Face</a>
			</div>
			<div class="product__details" link="">
				<a href="/skincare/body-care">
					<img src="/photos/bodycare.png" alt="" href="" />
				</a>
				<a href="/skincare/body-care">Body care</a>
			</div>
			<div class="product__details">
				<a href="/skincare/men">
					<img src="/photos/men ava.png" alt="" />
				</a>
				<a href="/skincare/men">men</a>
			</div>
		</div>
	</div>
	<!-- submenu exclusive offer bar -->
	<div class="sub__header forOffer">
		<div class="product__type">
			<div class="product__details border__right">
				<a href="/makeup/face">
					<img src="/photos/offer 1.png" alt="" />
				</a>
			</div>
			<div class="product__details">
				<a href="/makeup/eyes">
					<img src="/photos/offer 2.png" alt="" href="" />
				</a>
			</div>
		</div>
	</div>
	<!-- submenu about us bar -->
	<div class="sub__header forAboutUs">
		<div class="type__name">MAKEUP</div>
		<div class="product__type">
			<div class="product__details">
				<a href="/makeup/face">
					<img src="/photos/face ava.png" alt="" />
				</a>
				<a href="/makeup/face">Face Makeup</a>
			</div>
			<div class="product__details" link="">
				<a href="/makeup/eyes">
					<img src="/photos/eye ava.png" alt="" href="" />
				</a>
				<a href="/makeup/eyes">eye MAKEUP</a>
			</div>
			<div class="product__details">
				<a href="/makeup/lips">
					<img src="/photos/lips ava.png" alt="" />
				</a>
				<a href="/makeup/lips">lips</a>
			</div>
		</div>
	</div>
	<div class="shopping__bag">
		<div class="bag__title">Product()</div>
		<div class="bag__product">
			<li class="bag__detail">
				<img src="/photos/4-Colour Eyeshadow Palette.jpg" alt="" />
				<div class="bag__product__info">
					<div class="bag__product__name">4-Colour Eyeshadow Palette</div>
					<div class="bag__product__size">40g</div>
				</div>
				<div class="bag__product__payment">
					<div class="bag__product__price">$100.00</div>
					<div class="bag__product__qnt">QTY:2</div>
				</div>
			</li>
		</div>
		<div class="bag__total">
			<div class="bag__total__title">Total</div>
			<div class="bag__total__result">$100.00</div>
		</div>
		<div class="view__bag">
			<a href="/shopping"><button type="button">View bag</button></a>
		</div>
	</div>
</div>
