<div class="header__container">
	<div class="header">
		<div class="header__content">
			<div class="header__menubar">
				<i class="fa-light fa-bars"></i>
				<i class="fa-light fa-magnifying-glass header__search"></i>
			</div>
			<div class="header__logo">
				<a href="/">Clarins</a>
			</div>
			<div class="header__asset">
				<div class="header__location col" href="/about-us">
					<i class="fa-regular fa-location-dot"></i>
					<a href="/about-us">Location</a>
				</div>
				<div class="header__user col">
					<i class="fa-regular fa-user"></i>
					<a href="/login">login</a>
				</div>
				<div class="header__bag col no__border">
					<i class="fa-regular fa-briefcase-blank"></i>
					<a href="/shopping">bag</a>
				</div>
			</div>
		</div>
		<div class="header__submenu">
			<ul>
				<li class="home" href="/"><a href="/">home</a></li>
				<li class="skincare">
					<a href="/skincare/body-care">Skincare</a>
				</li>
				<li class="makeup">
					<a href="/make-up">Make-up</a>
				</li>
				<li class="about__us">
					<a href="/make-up">About Clarins</a>
				</li>
				<li class="exclusive__offer">
					<a href="/make-up">Exclusive Offer</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="sub__header forMakeup">
		<div class="type__name">MAKEUP</div>
		<div class="product__type">
			<div class="product__details">
				<a href="">
					<img src="/photos/face ava.png" alt="" />
				</a>
				<a href="">Face Makeup</a>
			</div>
			<div class="product__details" link="">
				<a href="">
					<img src="/photos/eye ava.png" alt="" href="" />
				</a>
				<a href="">eye MAKEUP</a>
			</div>
			<div class="product__details">
				<a href="">
					<img src="/photos/lips ava.png" alt="" />
				</a>
				<a href="">lips</a>
			</div>
		</div>
	</div>
	<div class="header__overlay"></div>
</div>
