<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<!-- Bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
			integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
			integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
			crossorigin="anonymous"
		></script>
		<!-- Fontawesome -->
		<!-- CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
		<link rel="stylesheet" href="/css/home.css" />
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" />
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="stylesheet" href="/css/footer.css" />
	</head>
	<body>
		<!--Header-->

		<%- include("header.ejs") %>
		<!--End Header-->

		<!--Body-->
		<!--body1:Slider--><!----XONG----->
		<div class="container-body-1" style="padding-top: 100px">
			<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" data-bs-interval="5000">
						<a href="#"
							><img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwfea558af/Homepage_CBA/Aspot/ECOM/2022/AUG/220815_sg_virtual_beauty_cafe_desktop.jpg"
								class="d-block w-100"
								alt="..."
						/></a>
					</div>
					<div class="carousel-item" data-bs-interval="5000">
						<a href="#"
							><img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw410e014a/Homepage_CBA/Aspot/LAUNCHES/TREATMENT_ESSENCE/CBA_HP_AspotMajor-Large_TREATMENT-ESSENCE-Range.jpg"
								class="d-block w-100"
								alt="..."
						/></a>
					</div>
					<div class="carousel-item">
						<a href="#"
							><img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw6a2d1f28/Homepage_CBA/Aspot/ECOM/2022/AUG/220818_sg_live_show_desktop.jpg"
								class="d-block w-100"
								alt="..."
						/></a>
					</div>
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselExampleInterval"
					data-bs-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselExampleInterval"
					data-bs-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<!--Body2--><!-----XONG------->
		<section class="container-2">
			<div class="container-2-title">The Power of Plant</div>
			<div class="container-2-content">
				<div class="container-2-text">
					<p><a href="#">NATURE IS OUR INSPARATION</a></p>
					<p><a href="#">BEAUTY BOTANIST</a></p>
					<p><a href="#">THE ART OF FORMULATION</a></p>
				</div>
				<div class="container-2-img">
					<img
						src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw77e22de8/Homepage_CBA/Brand_statement/CBA_HP_Brandstatement_400x176_PLANTS_INTE.jpg"
						alt=""
					/>
				</div>
			</div>
		</section>

		<!--Body4--><!--------XONG--------->
		<section class="container-4">
			<div class="container-4-content">
				<div class="container-4-content-icon">
					<a href="#"><img src="images/icon1.svg" alt="" /></a>
				</div>
				<div class="container-4-content-p">
					<p class="col-text"><a href="#">Free delivery with any order</a></p>
				</div>
			</div>
			<div class="container-4-content">
				<div class="container-4-content-icon">
					<a href="#"><img src="images/icon2.svg" alt="" /></a>
				</div>
				<div class="container-4-content-p">
					<p class="col-text"><a href="#">Free 3 samples with any order</a></p>
				</div>
			</div>
			<div class="container-4-content">
				<div class="container-4-content-icon">
					<a href="#"><img src="images/icon3.svg" alt="" /></a>
				</div>
				<div class="container-4-content-p">
					<p class="col-text"><a href="#">Get rewarded for registered members</a></p>
				</div>
			</div>
			<div class="container-4-content">
				<div class="container-4-content-icon">
					<a href="#"><img src="images/icon4.svg" alt="" /></a>
				</div>
				<div class="container-4-content-p">
					<p class="col-text"><a href="#">Excluise offers only at Clarins</a></p>
				</div>
			</div>
		</section>

		<!---Body5---><!-------XONG--------->
		<section class="container-5" style="display: flex; flex-direction: column; align-items: center">
			<div class="container-5-header">
				<h1>Your Skin. Our Expertise.</h1>
				<p>DISCOVER OUR PLANT-POWERED FORMULAS</p>
			</div>
			<div class="container-5-body">
				<div class="container-5-content" style="margin: 100px 50px 0 100px">
					<div class="container-5-img">
						<img
							src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw581f59e6/Homepage_CBA/Highlights/FACE/CBA_HP_Highlights-268x476_FACE-02.jpg"
							alt=""
						/>
					</div>
					<div class="container-5-title">
						<a href="/skincare/face">
							<h3>FACE CARE</h3>
							<p><u>VIEW</u></p>
						</a>
					</div>
				</div>
				<div class="container-5-content" style="margin: 0px 50px 100px 0">
					<div class="container-5-img">
						<img
							src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw2fb11773/Homepage_CBA/Highlights/MAKEUP/CBA_HP_Highlights-268x476_MAKEUP-11.jpg"
							alt=""
						/>
					</div>
					<div class="container-5-title">
						<a href="/makeup">
							<h3>MAKE-UP</h3>
							<p><u>VIEW</u></p>
						</a>
					</div>
				</div>
				<div class="container-5-content" style="margin: 100px 50px 0 0">
					<div class="container-5-img">
						<img
							src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwf3c8faf8/Homepage_CBA/Highlights/BODY/CBA_HP_Highlights-268x476_BODY-01.jpg"
							alt=""
						/>
					</div>
					<div class="container-5-title">
						<a href="/skincare/body-care">
							<h3>BODY CARE</h3>
							<p><u>VIEW</u></p>
						</a>
					</div>
				</div>
				<div class="container-5-content" style="margin: 0 100px 100px 0">
					<div class="container-5-img">
						<img
							src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwfd795860/Homepage_CBA/Highlights/MATERNITY/CBA_HP_Highlights-268x476_MATERNITY-01.jpg"
							alt=""
						/>
					</div>
					<div class="container-5-title">
						<a href="/skincare/men">
							<h3>MATERNITY</h3>
							<p><u>VIEW</u></p>
						</a>
					</div>
				</div>
			</div>
		</section>

		<!-----Body6-------->
		<section class="container-6">
			<div class="container-6-img">
				<img
					src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw925f97f3/Homepage_CBA/Social_proof/CBA_HP_Social-400x400_21.jpg"
					alt=""
				/>
			</div>
			<div class="container-6-content">
				<div class="container-6-title">
					<p>TRIED. TESTED. LOVED BY YOU : DOUBLE SERUM</p>
				</div>
				<div class="container-6-icon">
					<i class="fas fa-star" style="font-size: 18px; color: #b40024"></i>
					<i class="fas fa-star" style="font-size: 18px; color: #b40024"></i>
					<i class="fas fa-star" style="font-size: 18px; color: #b40024"></i>
					<i class="fas fa-star" style="font-size: 18px; color: #b40024"></i>
					<i class="fas fa-star" style="font-size: 18px; color: #b40024"></i>
				</div>
				<div class="container-6-name">
					<p>Five Star Reviews</p>
				</div>
				<div class="container-6-text">
					<p>"Love this product. Glides on skin and leaves it feeling fresh and doesn’t clog pores."</p>
				</div>
				<div class="container-6-button">
					<button type="button" class="btn btn-light">Try it</button>
				</div>
			</div>
		</section>

		<!--Body7-->
		<section class="container-7">
			<div class="container-7-title">
				<div>
					<h1>Our Exclusive Services</h1>
				</div>
				<p>CREATED TO MAKE YOUR LIFE MORE BEAUTIFUL</p>
			</div>
			<div class="container-7-content">
				<div class="row row-cols-1 row-cols-md-4 g-2">
					<div class="col" style="background-color: white">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwc0912219/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_SKINDIAGNOSIS_Mixte_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5><b>Live Consultation</b></h5>
								<p class="card-text">Receive personalised beauty advice, anytime, anywhere.</p>
								<h5 class="card-note">
									<a href="#"><u>BOOK NOW</u></a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col" style="background-color: white; padding: 0 50px 0 70px">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw1435c695/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_SPA_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>Spa, the Art of Application</b></h5>
								<p class="card-text">Enjoy a truly well-being experience in our Clarins Spa.</p>
								<h5 class="card-note">
									<a href="#"><u>BOOK NOW</u></a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col" style="background-color: white; padding: 0 80px 0 40px">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwabdf56ae/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_CLUB-CLARINS-1_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>Club Clarins</b></h5>
								<p class="card-text">
									Join the most rewarding programme to earn points with any purchase and redeem
								</p>
								<h5 class="card-note">
									<a href="#"><u>DISCOVER</u></a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col" style="background-color: white; padding: 0 115px 0 0">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwa2b6ad45/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_FINDER-LIPS_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>Virtual Try-On</b></h5>
								<p class="card-text">Find your perfect shade with our Try-On virtual reality tool.</p>
								<h5 class="card-note">
									<a href=""><u>GET STARTED</u></a>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-7-content">
				<div class="row row-cols-1 row-cols-md-4 g-2">
					<div class="col" style="background-color: white">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw160a689c/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_TRYON_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>Lipstick Finder</b></h5>
								<p class="card-text">Find the best shade and texture made for you!</p>
								<h5 class="card-note">
									<a href="#"><u>MATCH ME</u></a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col" style="background-color: white; padding: 0 50px 0 70px">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw5dc1ee37/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_TOTAL_EYES_MODEL_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>All About Eyes</b></h5>
								<p class="card-text">Find the most suitable eye care suited for your concerns.</p>
								<h5 class="card-note">
									<a href="#"><u>FIND OUT MORE</u></a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col" style="background-color: white; padding: 0 80px 0 40px">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dwd6c984c5/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_BEAUTYFAQ-Models_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>Beauty FAQ</b></h5>
								<p class="card-text">Get all the answers you need for your beauty questions.</p>
								<h5 class="card-note">
									<a href="#"><u>DISCOVER</u></a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col" style="background-color: white; padding: 0 115px 0 0">
						<div class="card h-100">
							<img
								src="https://www.clarins.com.sg/on/demandware.static/-/Library-Sites-clarins-v3/default/dw1ea95bd9/Homepage_CBA/Pushs_carousel/CBA_HP_Pushs-Carousel-292x292_APPLICATION-METHODSMOSAIC_INTE.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><b>Application Methods</b></h5>
								<p class="card-text">Clarins unique beauy techniques to apply the products.</p>
								<h5 class="card-note">
									<a href="#"><u>DISCOVER</u></a>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--End Body-->

		<!--Footer-->
		<%- include("footer.ejs") %>
		<!--End Footer-->
		<script src="/js/header.js"></script>
	</body>
</html>
