<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<%- include('header.ejs')%>

<div class="container" style="padding-top: 121px">

    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">PayMent</h4>
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name *" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name *" value="" required>
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>



            <div class="mb-3">
                <label for="email">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Adress<span class="text-muted"></span></label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
            </div>

            <div class="mb-3">
                <label for="phonenumber">Phone Number <span class="text-muted">(Bắt Buộc )</span></label>
                <input type="text" class="form-control" id="phonenumber" placeholder="+84..." required />
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">City</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Chọn Tỉnh Thành</option>
                        <option>Hà Nội</option>
                        <option>Hải Phòng</option>
                        <option>Quảng Ninh</option>
                        <option>Đà Nẵng</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required>
                        <option value="">Chọn Quận Huyện </option>
                        <option>Cẩm Phả </option>
                        <option>Hạ Long </option>
                        <option>Tiên Yên </option>
                        <option>Uông Bí </option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required>
                        <option value=""></option>
                        <option>Cửa Ông</option>
                        <option>Cẩm Bình</option>
                        <option>Cẩm Thạch</option>
                        <option>Ba Chẽ</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
            </div>


            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required/>

                    <label class="custom-control-label" for="credit"><img class="method-icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-momo.svg" width="32" height="32" alt="icon">Payment Via MoMo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required/>

                    <label class="custom-control-label" for="credit"><img class="method-icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-zalo-pay.svg" width="32" height="32" alt="icon">Payment Via ZaloPay</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required/>

                    <label class="custom-control-label" for="credit"><img class="method-icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-vnpay.png" width="32" height="32" alt="icon">Payment Via VnPay</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required/>
                    <label class="custom-control-label" for="debit">Bank Transfer</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required/>
                    <label class="custom-control-label" for="paypal"><img class="method-icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-cod.svg" width="32" height="32" alt="icon">After Pay</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" onclick="onBox()"   required/>
                    <label class="custom-control-label" for="paypal">
                        <img class="method-icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-credit.svg" width="32" height="32" alt="icon">
                        <img class="method-icon" src="https://www.clarinsusa.com/on/demandware.static/-/Sites/default/dw7ccc633f/images/creditcards/master.gif"  width="32" height="32" alt="icon" >

                        Credit Card</label>
                </div>
            </div>

            <div class="row" id>
                <div class="col-md-6 mb-3">
                    <label for="cc-name">Top 6 issues</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="please fill in the number" required>
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cc-number">Last 6 issues</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="please fill in the number" required>
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">Name on Card</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cc-cvv">Expiration Date</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="mm/dd" required>
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-danger btn-lg btn-block" type="submit" >PayMent</button>
            <button class="btn btn-danger btn-lg btn-block" type="reset" >Cancel</button>
        </form>
    </div>
</div>
</nav>


<%- include('footer.ejs')%>
<script src="/js/header.js"></script>
<script src="/js.jquery.js"></script>
<script type="text/javascript">
    var box = $(".box");
    function onBox() {
        // box.show();
        // box.fadeIn();
        if(box.hasClass("active")){
            box.removeClass("active");
            box.hide();
        }else{
            box.slideDown();
            box.addClass("active");
        }
</script>
</body>
</html>
