.aboutus__container {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
	width: 100%;
}
.about__container {
	width: 100%;
	height: 500px;
}
.about__title {
	font-size: 50px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 20px;
}
.box1 {
	background-color: #fbfbfb;
	padding: 60px 0;
	display: flex;
	flex-direction: row;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-between;
}
.box2 {
	background-image: url(/assets/photos/anh2.jpg);
	position: relative;
	padding-top: 50px;
}
.box3 {
	background-image: url(/assets/photos/anh3.jpg);
	position: relative;
	padding-top: 50px;
	display: flex;
	justify-content: flex-end;
}
.box4 {
	background-color: #fbfbfb;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.box5 {
	background-color: #fbfbfb;
	padding-top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}
.box6 {
	background-image: url(/assets/photos/anh6.jpg);
	position: relative;
	padding-top: 50px;
}
.box7 {
	background-image: url(/assets/photos/anh7.jpg);
	position: relative;
	padding-top: 50px;
	display: flex;
	justify-content: flex-end;
}
.box8 {
	background-image: url(/assets/photos/anh8.jpg);
	position: relative;
	padding-top: 50px;
}
.box9 {
	background-image: url(/assets/photos/anh9.jpg);
	position: relative;
	padding-top: 50px;
	display: flex;
	justify-content: flex-end;
}
.box10 {
	background-image: url(/assets/photos/anh10.jpg);
	position: relative;
	padding-top: 50px;
}
.box1 .about__textbox {
	width: 20%;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}
.box1 .about__textbox .about__heading {
	font-size: 130px;
	font-family: system-ui;
	line-height: 140px;
}
.about__img1 {
}
.about__img1 img {
	height: 100%;
}
.box2 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 20%;
	width: 25%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box2 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box3 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-right: 15%;
	width: 25%;
	padding: 30px;
	text-align: left;
	min-height: 70%;
	align-items: flex-start;
}
.box3 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box4 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 10%;
	width: 25%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box4 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box4 .about__img4 {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 70%;
	align-self: center;
	margin-bottom: 25px;
	margin-right: 50px;
}
.box5 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-right: 10%;
	width: 25%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box5 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box5 .about__img4 {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	height: 70%;
	align-self: center;
	margin-bottom: 50px;
	margin-left: 10%;
}
.box5 .about__img4 .img__container {
	margin-right: 50px;
}
.box5 .about__img4 .img__container {
	text-align: center;
	line-height: 20px;
}
.box5 .about__img4 .box6 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 20%;
	width: 25%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box6 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 20%;
	width: 25%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box6 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box7 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-right: 15%;
	width: 30%;
	padding: 30px;
	text-align: left;
	min-height: 70%;
	align-items: flex-start;
}
.box7 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box8 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 20%;
	width: 25%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box8 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box9 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-right: 15%;
	width: 25%;
	padding: 30px;
	text-align: left;
	min-height: 70%;
	align-items: flex-start;
}
.box9 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
.box10 .about__textbox {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 20%;
	width: 30%;
	padding: 30px;
	text-align: left;
	align-self: flex-start;
}
.box10 .about__textbox p {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}
