* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}
a {
	text-decoration: none !important;
	color: #555;
}
html {
	background-color: #fbf6f3;
}
@keyframes subDropdown {
	from {
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
.shows {
	display: flex !important;
	animation-name: subDropdown;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.39, 0.575, 0.5649999999999999, 1);
}

.done {
	display: block !important;
}
.header__container {
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}
.header {
	height: 120px;
	display: block;
	position: relative;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 3px 0px #ccc;
	z-index: 200;
}
.header__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 80px;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
}
.header__menubar {
	display: flex;
	width: 20%;
}
.header__menubar i {
	font-size: 18px;
	padding-right: 30px;
	cursor: pointer;
}
.header__menubar i:hover {
	color: #c40d2e;
}
.header__asset {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 20%;
	cursor: pointer;
}
.header__asset a {
	text-decoration: none;
	text-align: center;
	color: #555;
	padding-top: 5px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.header__asset i {
	text-align: center;
}
.columns {
	display: flex;
	flex-direction: column;
	width: 33.33%;
	border-right: 1px solid rgb(197, 194, 194);
}
.columns:hover i {
	color: #c40d2e;
}
.columns:hover a {
	color: #c40d2e;
}
.no__border {
	border: none;
}
.header__logo {
	display: flex;
}
.header__logo a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 35px;
	font-weight: 600;
	color: #c40d2e !important;
	text-align: center;
}

.header__submenu ul {
	display: flex;
	width: 100%;
	padding-left: 25%;
	padding-right: 25%;
	justify-content: space-between;
	height: 42px;
	list-style-type: none;
}
.header__submenu li {
	align-items: center;
}
.header__submenu a {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	color: #555;
	font-weight: 600;
	height: 60%;
	align-items: center;
	margin-bottom: 2px;
	letter-spacing: 1.5px;
	text-decoration: none;
}
.header__submenu a:after {
	content: '';
	display: flex;
	align-items: flex-start;
	width: 0%;
	height: 2px;
	background: #c40d2e;
	transition: width 0.3s ease;
}
.header__submenu li:hover a::after {
	color: #c40d2e;
	width: 100%;
}
.header__submenu li:hover a {
	color: #c40d2e;
}
.header__submenu li {
	cursor: pointer;
	height: 42px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	opacity: 0.8;
}
.header__container .sub__header {
	height: 400px;
	padding: 46px 0;
	flex-direction: column;
	position: absolute;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	z-index: 100;
	display: none;
}
.type__name {
	font-family: system-ui;
	text-align: center;
}

.product__type {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-evenly;
	width: 50%;
}
.type__name {
	font-size: 22px;
	height: 33px;
	letter-spacing: 0.2em;
}
.product__type a {
	text-transform: uppercase;
	color: #555;
	align-items: center;
	text-align: center;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 600;
	padding-top: 8px;
}
.product__type a:hover {
	color: #c40d2e;
}
.product__type .product__details a {
	text-decoration: none;
}
.product__type img {
	width: 128px;
	left: 50%;
	right: 0%;
	cursor: pointer;
}
.forOffer .product__type img {
	width: 600px;
}
.forOffer .product__type {
	display: flex;
	justify-content: center;
	width: 100%;
}
.forOffer .product__type .product__details {
	padding: 20px;
}
.border__right {
	border-right: 1px solid #ccc !important;
}
.forOffer {
	padding-top: 25px !important;
}
.product__details {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}
.header__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.3;
	display: none;
}
.showbag {
	display: flex !important;
}
.shopping__bag {
	min-height: 200px;
	width: 400px;
	background: #f3f1f0;
	margin-top: -52px;
	z-index: 1000 !important;
	display: none;
	justify-content: flex-end;
	margin-right: 60px;
	float: right;
	position: relative;
	flex-direction: column;
	padding: 24px;
}
.bag__title {
	color: #333;
	font-size: 16px;
	font-family: system-ui;
	font-weight: 600;
	margin-bottom: 15px;
}
.bag__product {
	list-style-type: none;
	border-bottom: 1px solid #aaa;
}

.bag__detail img {
	width: 70px;
	margin-right: 10px;
}
.bag__detail {
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}
.bag__product__info {
	flex-grow: 2;
}
.bag__product__name {
	font-size: 13px;
	font-family: system-ui;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.bag__product__size {
	font-size: 11px;
	font-family: system-ui;
	font-weight: 600;
	letter-spacing: 0.5px;
	color: #666;
}
.bag__product__price {
	font-size: 13px;
	font-family: system-ui;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.bag__product__qnt {
	font-size: 11px;
	font-family: system-ui;
	font-weight: 600;
	letter-spacing: 0.5px;
	color: #666;
}
.bag__total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
}
.bag__total__title {
	font-size: 15px;
	font-family: system-ui;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.bag__total__result {
	font-size: 15px;
	font-family: system-ui;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.view__bag {
	width: 100%;
	padding: 10px 0;
}
.view__bag button {
	width: 100%;
	border: none;
	background-color: #c40d2e;
	color: #eee;
	height: 40px;
	border-radius: 3px;
	font-family: system-ui;
	font-weight: 600;
	font-size: 18px;
}
