* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	text-decoration: none;
}
a {
	text-decoration: none !important;
	color: #555;
}
html {
	background-color: #fbf6f3;
}
@keyframes subDropdown {
	from {
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
.show {
	display: flex !important;
	animation-name: subDropdown;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.39, 0.575, 0.5649999999999999, 1);
}

.done {
	display: block !important;
}
.header__container {
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.header {
	height: 100px;
	display: block;
	position: relative;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 2px 3px 0px #ccc;
	z-index: 1000;
}
.header__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 60px;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
}
.header__menubar {
	display: flex;
	width: 20%;
}
.header__menubar i {
	font-size: 18px;
	padding-right: 30px;
	cursor: pointer;
}
.header__menubar i:hover {
	color: #c40d2e;
}
.header__asset {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 20%;
	cursor: pointer;
}
.header__asset a {
	text-decoration: none;
	text-align: center;
	color: #555;
	padding-top: 5px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.header__asset i {
	text-align: center;
}
.columns {
	display: flex;
	flex-direction: column;
	width: 33.33%;
	border-right: 1px solid rgb(197, 194, 194);
}
.col:hover i {
	color: #c40d2e;
}
.col:hover a {
	color: #c40d2e;
}
.no__border {
	border: none;
}
.header__logo {
	display: flex;
}
.header__logo a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 28px;
	font-weight: 600;
	color: #c40d2e;
	text-align: center;
}

.header__submenu ul {
	display: flex;
	width: 100%;
	padding-left: 25%;
	padding-right: 25%;
	justify-content: space-between;
	height: 42px;
	list-style-type: none;
}
.header__submenu li {
	align-items: center;
}
.header__submenu a {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	color: #555;
	font-weight: 600;
	height: 60%;
	align-items: center;
	margin-bottom: 2px;
	text-decoration: none;
}
.header__submenu a:after {
	content: '';
	display: flex;
	align-items: flex-start;
	width: 0%;
	height: 2px;
	background: #c40d2e;
	transition: width 0.3s ease;
}
.header__submenu li:hover a::after {
	color: #c40d2e;
	width: 100%;
}
.header__submenu li:hover a {
	color: #c40d2e;
}
.header__submenu li {
	cursor: pointer;
	height: 42px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	opacity: 0.8;
}
.header__container .sub__header {
	height: 400px;
	padding: 46px 0;
	flex-direction: column;
	position: absolute;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	z-index: 900;
	display: none;
}
.type__name {
	font-family: system-ui;
	text-align: center;
}

.product__type {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-evenly;
	width: 50%;
}
.type__name {
	font-size: 22px;
	height: 33px;
	letter-spacing: 0.2em;
}
.product__type a {
	text-transform: uppercase;
	color: #555;
	align-items: center;
	text-align: center;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 600;
	padding-top: 8px;
}
.product__type a:hover {
	color: #c40d2e;
}
.product__type .product__details a {
	text-decoration: none;
}
.product__type img {
	width: 128px;
	left: 50%;
	right: 0%;
	cursor: pointer;
}
.product__details {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}
.header__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.3;
	display: none;
}
