/**body2**/
.container-body-1 {
	padding-top: 120px;
}
.container-2 {
	width: 100%;
	padding: 10px 30px 0 30px;
	display: flex;
}
.container-2-title {
	width: 40%;
	font-size: 65px;
	font-family: Arial;
	padding: 10px 50px 0 75px;
	border-right: 1px solid black;
}
.container-2-content {
	width: 60%;
	display: flex;
}
.container-2-text {
	padding: 35px 50px 0 30px;
}
.container-2-text p {
	padding-bottom: 10px;
	font-family: Arial;
	letter-spacing: 4px;
}
.container-2-img {
	float: right;
}

/**body4**/
.container-4 {
	margin-top: 20px;
	padding: 50px 50px 50px 50px;
	width: 100%;
	height: 125px;
	display: flex;
	background-color: #fbf6f3;
	justify-content: space-between;
}
.container-4-content {
	display: flex;
	width: 280px;
	align-items: center;
	height: 42px;
	align-self: center;
}
.container-4-content-p {
	align-self: center;
	margin-bottom: -1rem;
}
.container-4-content-icon {
	padding-right: 15px;
}
.container-4-content-p {
	font-family: Arial;
}
.container-4-content img {
	height: 44px;
}
.container-4-content:hover img {
	filter: invert(12%) sepia(96%) saturate(5207%) hue-rotate(344deg) brightness(81%) contrast(95%);
}
.container-4-content:hover a {
	color: #c40d2e;
}

/**body5**/
.container-5 {
	padding-top: 20px;
	padding-bottom: 40px;
}
.container-5-header h1 {
	padding-top: 20px;
	font-size: 75px;
	text-align: center;
	font-family: 'Times New Roman';
	letter-spacing: 2px;
}
.container-5-header p {
	text-align: center;
	font-size: 14px;
	letter-spacing: 4px;
	line-height: 26px;
	padding-bottom: 50px;
}
.container-5-body {
	display: flex;
	padding-bottom: 20px;
}
.container-5-content {
	width: 250px;
	height: 550px;
}
.container-5-title h3 {
	padding-top: 10px;
	font-weight: 500;
	font-family: system-ui, -apple-system;
	font-size: 24px;
	line-height: 28px;
}
.container-5-title h3:hover {
	color: #c40d2e;
	text-decoration: none;
}
.container-5-title a:hover {
	color: #c40d2e;
	text-decoration: none;
}
.container-5 p {
	font-size: 13px;
	text-decoration: underline !important;
	line-height: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 600;
	padding-bottom: 5px;
}
/******body6********/
.container-6 {
	width: 100%;
	height: 400px;
	background-color: #fbf6f3;
	padding-bottom: 100px;
	display: flex;
}
.container-6-img {
	padding-left: 160px;
}
.container-6-title p {
	padding-top: 40px;
	padding-left: 120px;
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	letter-spacing: 4px;
}
.container-6-icon {
	padding-top: 40px;
	padding-left: 335px;
}
.container-6-name p {
	font-size: 48px;
	font-family: 'Times New Roman';
	padding-left: 210px;
}
.container-6-text p {
	font-size: 16px;
	padding-left: 100px;
	text-align: center;
}
.container-6-button {
	padding-top: 20px;
	padding-left: 360px;
}
.container-6-button button {
	padding: 10px 20px 10px 20px;
	border: 1px solid black;
}
/**body7**/
.container-7 {
	padding-bottom: 20px;
}
.container-7-title {
	padding-top: 20px;
	padding-bottom: 15px;
}
.container-7-title h1 {
	font-size: 65px;
	text-align: center;
	font-family: 'arial	';
}
.container-7-title p {
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
}
.container-7-content {
	padding-bottom: 15px;
}
.card-body {
	text-align: left;
	border-radius: 5px;
}
.container-7-content {
	width: 100%;
	height: 950px;
	padding: 30px 0 30px 0;
}
.container-7-content-main {
	display: flex;
	justify-content: space-between;
	margin-left: 7.5%;
	margin-right: 7.5%;
	margin-bottom: 30px;
}
.container-7-content-main-card {
	width: 265px;
	height: 435px;
	border: 1px solid #cccccc;
}
.container-7-content-main-card-img {
	width: 264px;
	height: 268px;
}
.container-7-content-main-card:hover {
	box-shadow: 2px 2px 2px 2px #cccccc;
}
.container-7-content-main-card-body h5 {
	padding-top: 15px;
	padding-left: 13px;
	font-size: 14px;
}
.card-text {
	padding-left: 13px;
	padding-right: 13px;
	font-size: 14px;
}
.card-note a:hover {
	color: red;
	text-decoration: none;
}
.carousel-item .slider__picture {
	width: 100%;
	display: flex;
}
.slider__picture .slogan {
	width: 33.33%;
	box-sizing: border-box;
	background-color: #fbf6f3;
	display: flex;
	height: auto;
	padding: 32px 32px 64px 32px;
	align-items: center;
}
.slider__picture img {
	width: 100%;
}
.slider__picture a {
	width: 66.66%;
}
.top-page__components {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.top-page__name p {
	padding: 6px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 2px;
	font-weight: 500;
	font-family: monospace;
}
.top-page__content p {
	font-size: 48px;
	line-height: 52px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
}
.top-page__description p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 0px 10px;
}
.top-page__link a {
	text-transform: uppercase;
	text-decoration: underline !important;
	font-size: 11px;
	font-weight: 600;
}
.top-page__link a:hover {
	color: #c40d2e;
}
